.group{
    gap: 32px 24px;
    flex-wrap: wrap;
    flex-direction: row;
}
.item{
    position: relative; 
    width: 272px; 
    flex: 0 0 auto;
    text-decoration: none;
    color: var(--text-primary-color);
}
.cost{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center; 
}
