.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.information{
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
    min-width: 112px;
}
